@import './keyframes';
@import './Dialog/index';
@import './Modal/index';
@import './Toast/index';
@import './Loading/index';

.hc_enter {
  animation: enter .2s ease-out;
  animation-fill-mode: forwards;
}

.hc_leave {
  animation: leave .2s ease-out;
  animation-fill-mode: forwards;
}

.hc_scale_enter {
  animation: scaleEnter .2s;
  animation-fill-mode: forwards;
}

.hc_scale_leave {
  animation: scaleLeave .2s;
  animation-fill-mode: forwards;
}
